*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbarContainer{
  display: flex;
  /* width: 500px; */
  justify-content: flex-end;
  /* border: 1px solid red; */
}

.home form{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.movieContainer{
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.singleMovie{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  /* border: 1px solid red; */
}

.movieImage{
  position: relative;
}

.singleMovie:hover .movieInfo{
  left: 0;
  bottom: 0rem;
  opacity: .8;
  transition: .50s;
  width: fit-content;
  height:min-content;
  text-align: center;
}

.movieInfo{
  position: absolute;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: white;
  left: 200rem;
  bottom: 6rem;
}

